*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 100vh;
  min-height:100vh ;
  justify-content: center;
  align-items: center;
  background: rgb(199, 123, 30);
  columns: #fff;
}
.container{ 
  border: 4px  solid black;
  
  text-align: center;
  box-sizing: border-box;
  border-radius:10px ;
  padding:28px 32px ; 
  display: flex;
  flex-direction: column;
  background: rgb(196, 156, 108);
  margin-left: 80%;
  margin-top:100px;
  height: 390px;
  width: 270px;
}
.container h2{
  font-size: 1.4rem;
  margin-left: 20px;
  margin-bottom:5px;
  background: yellow;
  border-radius: 10px;
  height: 40px;
  width: 80%;
  
}
.passBox{
  background: #f5f1f1;
  border: none;
  color:black;
  outline: none;
  padding: 5px;
  border-radius: 4px;
 font-size: 13px;
 margin-block: 6px;
}
.inputBox {
  position: relative;
}
.inputBox span{
  position: absolute;
  box-sizing: content-box;
  box-sizing: border-box;
  top: 9px;
  left: px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  cursor: pointer;
}
.row{
  display: flex;
  margin-block: 8px;
  background: rgb(64, 148, 201);
  border-radius: 6px;
  cursor: pointer;
 
}
.row p,row label{
  flex-basis:70%;
  text-align: center;
  justify-content: center;
  /* background-color: rgb(146, 108, 58); */
  border-radius: 10px;
  
  cursor: pointer;
  
}
.row span{
  margin-left: 100px;
  cursor: pointer;
}
.row input[tbody="checkBox"]{
  width: 20px;
  height: 20px;
  cursor: pointer;
  
}
.getBtn{
  border: none;
  font-size: 20px;
  margin-block: 5px;
  font-weight: 700px;
  outline: none;
  background-color: black;
  color: #fff;
  padding: 2px;
  border-radius:10px ;
  text-align: center;
  cursor: pointer;
}
.getBtn:hover{
  color: whitesmoke;
  background-color:black;
}
 #lowerCase{
margin-right: 33px;
text-align: center;
cursor: pointer;
justify-content: center;

} 

/* #emoji{
margin-left:180px;
margin-top: -3px;
font-size: xx-large;
} */